// Color variables

$white: #fff; 
$grey: #777; 

$color-primary: #58e1c1; // light green
$color-secondary: #51ddfc; // light blue

$btn-color-1: $color-secondary; // default btn
$btn-color-2: #e4757a; // error btn
$btn-color-3: #927bc1; // info btn
$btn-color-4: #63cc82; // success btn
$btn-color-5: #fd7856; // warning btn

// Media queries breakpoints

$break-m: 768px;