/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  }
  
.default {
  background-color: $btn-color-1;
}

.error {
  background-color: $btn-color-2;
}

.info {
  background-color: $btn-color-3;
}

.success {
  background-color: $btn-color-4;
}

.warning {
  background-color: $btn-color-5;
}
  