/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $font-stack-primary;
  color: $grey;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
  color: $color-primary;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: $font-weight-thin;
  color: $grey;
}

.link {
  color: $color-secondary;
  font-weight: $font-weight-bold;
}

.blockquote {
  font-size: $font-size-primary;
  font-weight: $font-weight-thin;
  font-style: $font-style-bq;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $color-primary;
  border-radius: 5px;
}